.App {
  text-align: center;
}

.App-header {
  background-color: #336b87;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
.galleryList {
  display: grid;
  grid-template-columns: auto auto auto;
}
.imageBlock {
  display: grid;
  width: 350px;
  height: 530px;
  margin: 50px;


  
}
.image {
  justify-self: center;
  border: 20px solid #2a3132;
  width: 300px;
  height: auto;
  
  
}
.likes{
  justify-self: center;
  align-self:  end;
  margin: 5px;

}

.description{
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-self: center;
  align-self:  center;
  margin: 5px;

}
